{% extends "base.html" %} {% load static %} {% block title %}
{{ profile_user.get_full_name|default:profile_user.username }} - Postify{% endblock %} 
{% block css_files %}
<link rel="stylesheet" href="{% static 'accounts/profile.css' %}" />
{% if is_own_profile %}
<script src="{% static 'accounts/profile.js' %}" defer></script>
{% endif %} {% endblock %} {% block content %}
<div class="profile-page-container">
  <div class="profile-card">
    {% include 'accounts/profile_view.html' %} {% if is_own_profile %} 
    {% include 'accounts/profile_edit.html' %} {% endif %}
  </div>
  {% include 'accounts/profile_posts.html' %}
</div>
{% endblock %}
