{% extends "base.html" %} 

{% load static %} 

{% block title %}User Profile - Postify{% endblock %} 

{% block css_files %}
<link rel="stylesheet" href="{% static 'accounts/profile.css' %}" />
<script src="{% static 'accounts/profile.js' %}" defer></script>
{% endblock %} 

{% block content %} 
  {% if user.is_authenticated %}
    <div class="profile-page-container">
      <div class="profile-card">
        {% include 'accounts/profile_view.html' %} 
        {% include 'accounts/profile_edit.html' %}
      </div>
      {% include 'accounts/profile_posts.html' %}
    </div>
    {% else %}
    <div class="profile-page-container">
      <div class="profile-card" style="text-align: center">
        <p>Please <a href="{% url 'login' %}">login</a> to view your profile.</p>
      </div>
    </div>
  {% endif %} 
{% endblock %}
